<section>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <p>
                    RECOGNITO is a text recognition app built leveraging on OCR-Space javascript check it out
                    <a href="https://ocr.space/">here 🚀🚀🚀 </a>
                </p>

                <p>CSS: <a href="https://www.gethalfmoon.com/docs/introduction/"> Halfmoon CSS </a></p>

            </div>
        </div>
    </div>
</section>