<section>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <p>
                    RECOGNITO is a text recognition app built off using the Tesseract OCR javascript port
                    <code>Tesseract.js by Naptha</code> check it out
                    <a href="https://github.com/naptha/tesseract.js/blob/master">here </a>
                </p>

            </div>
        </div>
    </div>
</section>