<section>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <p>
                    RECOGNITO is a text recognition app built leveraging on OCR-Space javascriptcheck it out
                    <a href="https://ocr.space/">here </a>
                </p>

            </div>
        </div>
    </div>
</section>