<div class="sidebar">
    <div class="sidebar-menu">
        <!-- Sidebar brand -->
        <!-- Sidebar content with the search box -->
        <div class="sidebar-content">
            <h5 class="sidebar-title"> <small> Files to be converted </small></h5>
            <div class="sidebar-divider"></div>
            <div class="row" id="image-holder">
                {{#if result}}
                {{#each result }}
                <div class="image-container">
                    <div class="image-container__inner">
                        <img src="{{image}}" alt="">
                    </div>
                    <span class="">
                        <i class="fa fa-trash remove-btn" aria-hidden="true" data-id="{{id}}"></i>
                    </span>

                    <i class="fas fa-cog  fa-3x fa-fw single-convert-btn" data-id="{{id}}"></i>

                </div>
                {{/each}}
                {{!-- <button class="btn btn-danger remove-all-tasks ">Remove all tasks</button> --}}
                {{else}}
                <h3>No task yet! Add Task.</h3>
                {{/if}}
            </div>

        </div>

        <br />
    </div>
</div>