<div class="row" style="flex-direction: column; align-items: center;">
    <div class="col-6">
        <div class="custom-file">
            <form method="POST" action="/" enctype="multipart/form-data" id="upload-form">
                <input type="file" name="image_upload" class="custom-file-input" required id="customFile"
                    name="image-upload" multiple>
                <label class="custom-file-label" for="customFile">Choose image</label>
                <button id="upload-btn" class="btn  btn-success"><i class="fas fa-upload"></i></button>
            </form>

        </div>

    </div>
    <div class="col-6">
        <div class="toolbox">
            <div class="row ">
                <div class="col-md-3 col-sm-3"><a href="/downloadPdf" class="btn btn-block btn-danger"> <small>PDF
                            &nbsp;</small><i class="far fa-file-pdf"></i></a></div> &nbsp;
                <div class="col-md-3 col-sm-3"><a href="/downloadDoc" class="btn btn-block btn-primary"> <small>DOCX
                            &nbsp;</small><i class="far fa-file-word"></i></a></div>&nbsp;
                <div class="col-md-3 col-sm-3"><a href="/downloadTxt" class="btn btn-block btn-secondary">
                        <small>TXT</small> <i class="far fa-file-alt"></i></a></div>
            </div>
        </div>
    </div>

</div>