<h2 class="text-center">upload an existing image</h2>
<div class="row ">
    <div class="col-6">
        <div class="custom-file">
            <form method="POST" action="/" enctype="multipart/form-data" id="upload-form">
                <input type="file" name="image_upload" class="custom-file-input" id="customFile" name="image-upload">
                <label class="custom-file-label" for="customFile">Choose image</label>
                <button id="upload-btn" class="btn  btn-success">convert</button>
            </form>

        </div>
    </div>

</div>