<div class="row ">
    <div class="col-6 ">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="image url" aria-label="" id="img-url"
                aria-describedby="basic-addon1">
            <div class="input-group-append">
                <button class="btn btn-success" type="button" id="url-convert-button">convert</button>
            </div>

        </div>

    </div>

</div>